<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            div.form-field {
                padding: 5px;
            }
        </style>
    </head>

    <body>

        <form method="POST">

            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-field">
                <input type="radio" id="list" name="list-or-sum" value="list" checked>
                <label for="list">List of repos</label>
            </div>
            <div class="form-field">
                <input type="radio" id="sum" name="list-or-sum" value="sum">
                <label for="sum">Sum of stars</label>
            </div>
            <div class="form-field">
                <input type="submit" value="Send">
            </div>

        </form>

    </body>
</html>
